.directory-item-container {
  width: 95%;
}

.img {
  position: relative;
  top: 10px;
  width: 30px;
  height: 30px;
}

.summary {
  max-width: calc(100% - 48px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
