<div class="directory-item-container" [class.selected]="selected" (click)="toggleSelection()">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item.name }}
      </mat-panel-title>
      <mat-panel-description>
        <span>{{ item.path }}</span>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <li>Item size: {{ item.size }}</li>
    <li>Item type: {{ item.type }}</li>
    <li>Item created: {{ item.created }}</li>
    <li>Permissions: {{ item.permissions }}</li>
    <li>Is directory: {{ item.isDirectory }}</li>
  </mat-expansion-panel>
</div>
