<div class="directory-item-container" [class.selected]="selected" (click)="toggleSelection()">
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ item.name }}
      </mat-panel-title>
      <mat-panel-description class="summary">
        <span>{{ item.path }}</span>
      </mat-panel-description>
      <img [src]="getIconPath(item.type)" class="img">
      <button mat-icon-button color="primary" [style.visibility]="item.isDirectory ? 'visible' : 'hidden'" (click)="handleButtonPress(item.path, item.isDirectory)">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-expansion-panel-header>
    <li>Item size: {{ item.size }} bytes</li>
    <li>Item type: {{ item.type }}</li>
    <li>Date created: {{ item.created }}</li>
    <li>Permissions: {{ item.permissions }}</li>
    <li>Is directory: {{ item.isDirectory }}</li>
  </mat-expansion-panel>
</div>

