<h2 style="text-align: center;">Directory Listings</h2>
<h3 style="text-align: center;">Directory path: {{ this.path }}</h3>
<div style="display: flex; justify-content: center;">
  <button mat-raised-button (click)="goBack()">Back</button>
</div>
<ul>
  <span *ngFor="let item of directoryListings">
    <app-directory-item [item]="item"></app-directory-item>
  </span>
</ul>
<div style="display: flex; justify-content: center;">

  <button mat-raised-button (click)="prevPage()" >Prev page</button>
  <button mat-raised-button (click)="nextPage()" >Next page</button>
</div>
